out
target

classes
build

local_disco.properties

.gradle
.classpath
jdt.ls-java-project
workspace

tags*
.ropeproject
node_modules
*.pyc
.idea
*.log
jsconfig.json

.vim/
.ccls-cache
.vscode
pkg
bin
*.class
.nyc_output
